.search form {
  position: relative;
  display: inline-block;
  align-items: center;
}

.search input {
  border-radius: 20px;
  padding: 6px 36px 6px 10px;
  font-size: 16px;
  border: 2px solid black;
  outline: none;
  background: #636079;
  color: white;
  width: 550px;
  height: 60px;
}

.search input::placeholder {
  color: #ffffff;
  opacity: 0.8;
}

@media (max-width: 480px) {
  .nav-search {
    width: 100%;
    margin: 10px 0;
  }

  .nav-search input {
    width: 100%;
  }
}

.search-button {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-100%);
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
} 