.error-message {
    color: red;
    margin-top: 0.5rem;
    font-weight: 500;
    position:  absolute;
  }
  

.clubTitle{
  font-size: 3.8vh;
  font-family: 'Shrikhand';
  margin-bottom: 1vh;

}
.clubAuthor{
  font-style: italic;
  font-size: 3.5vh;
  margin-bottom: 1.8vh;
  padding-bottom: 1vh;
  border-bottom: 2px dashed black;
  width: 100%;

}

.clubTop{
  margin-bottom: 3vh;
}
.clubCard{
    width: 40vh;
    height: 40vh;
    border-radius: 25px; 
    padding: 2vh;
    color: white;
    font-size: 18px;
    margin: 20px;
    background-color: #c44c32;
}

.clubCard *{

}

.clubCard:hover{
  background-color:#a53b26;
  font-weight: 300;

}
.clubLink{


  text-decoration: none;

}
.clubPhotoContainer{
  display: flex;
  justify-content: center;
  height: 10vh;
  align-items: center;
  padding-top: 2.8vh;
 
}

.clubPhoto{
  height: 15vh;
  width: auto;

}
.clubDescription {
  font-size: 1.75vh;
  font-style: italic;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  width: 36vh; 
}
.clubNameHeader{
  font-family: 'Shrikhand';

  }



