* {
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;  
  margin: 0;
  padding: 0;
  /*outline: 2px solid red;*/
  
  
  
}
html, body {
  margin: 0;
  padding: 0;
}



.oval{
  background-color:white;
  border-radius: 50%;
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin-top: 17px;


}



.oval-selected {
  background-color: #c44c32; 
}

.oval-blue{
  background-color: #add8e6;
}
.oval-navy{
  background-color: #0b4164;
}
.oval-swamp{
  background-color: #6c7d47;
}

.oval-orange{
  background-color: #ff5c00;
}
.oval-green{
  background-color: #43942b;
}
.oval-pinkred{
  background-color: #9d3a3a;
}

.h1 {
  background-color :white;
  margin: 0;
  

}

.h1-selected{
  background-color:#c44c32 ;
}

.h1-blue{
background-color: #add8e6;
}

.h1-navy{
  background-color: #0b4164;
}
.h1-swamp{
  background-color: #6c7d47;
}

.h1-orange{
  background-color: #ff5c00;
}
.h1-green{
  background-color: #43942b;
}
.h1-pinkred{
  background-color: #9d3a3a;
}




.oval-forButton{
  width: 130px; 
  height: 75px;
}
.h1-forButton{
  font-size: 18px;
}


.oval-forRating{
  width: 180px; 
  height: 120px;
}
.h1-forRating{
  font-size: 60px;
}

.search{
  display:flex;
  margin-top: 35px;
  gap: 10px;
  align-items: center;
  padding-left: 5px;
  background-color: #c44c32;
  padding-right: 0;
  margin-right: 0;
  
}

.icon{
  height: 30px;
  width: 30px;
  background-color: #c44c32;
  margin: 0px;
}

.textbox{
  height: 50px;
  width: 450px;
  background-color: white ;
  padding-left: 10px;
}


#Puffin{

  display: block; /* Prevents extra space from inline display */
  background: transparent;
}


.SearchFlex{
  display: flex;
  align-items: flex-start ;
  gap: 50px;
  justify-content: space-between;
  padding-right:100px ;
}

.home{
  height: 100px;
  width: auto;
  padding-top:10px;

  
}


.Puffin-1{
  grid-row: 5;
  grid-column: 3;
}

.Puffin-2{
  grid-row: 3;
  grid-column: 2;

}
.Puffin-3{
  grid-row: 2;
  grid-column: 1;
  
}
.Puffin-4{
  grid-row: 2;
  grid-column: 5;
  padding-top: 25px;
}

.Puffin-5{
  grid-row: 1;
  grid-column: 5;
  padding-left: 285px;
  padding-top: 30px;
}

.oval-forAggregate{
  grid-row: 3 ;
  grid-column: 1;
  width: 400px; 
  height: 230px;
  margin-top: 150px;
}

.Top-Screen{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-left:100px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c44c32;
  
}

.reviews-toolbar{
    display: flex;
    justify-content: center;
    gap: 10px;
  }


  .rating{
    height: 300px;
    width: 400px;
    align-items: center;
    display:flex;
    gap: 25px;
    padding-bottom: 250px;
    
  
  }  




.Middle-Screen{
    margin-top: 80px;
    margin-left: 150px;
    display: grid;
  
    grid-template-rows: 90px 90px 90px 90px 90px;
    grid-template-columns: 120px 120px 120px 120px 120px;
    column-gap: 240px;
    row-gap: 60px;
  
    padding: 10px;
    width: 1500px; /* Ensures it has a width */
    height: auto; /* Adjusts based on content */
  
    /*outline: 2px solid red;*/
  }



.Attribute{
    color: white;
    font-size: 40px;
    left: 0px;
    font-style: italic;
    margin-top: 20px;
  }
  #Camraderie{
    grid-row: 1;
    grid-column: 1;
  }
  
  #Ascendancy{
    grid-row: 2;
    grid-column: 2;
    background: transparent;
  
  }
  
  #Prestige{
    grid-row: 3;
    grid-column: 3;
  }
  #Obligation{
    grid-row: 4;
    grid-column: 4;
  }
  #Legacy{
    grid-row: 5;
    grid-column: 5;
  }
  
  .RatingText{
    font-size:50px;
    width: 700px;
    height: 50px;
    color:#9f9f9f;
    font-style: italic;
  }
  .Positive{
    grid-row: 1;
    grid-column: 4;
  }
  
  .ReviewHeading{
    color: white;
    width: 800px;
    font-size: 65px;
  }