* {
  font-family: 'Josefin Sans', sans-serif;  
  margin: 0;
  font-size: 2vw;
  padding: 0;
  /*outline: 2px solid red;*/
  
  
  
}
html, body {
  margin: 0;
  padding: 0;
  background-color: #2b2b2b;
}


.reviews-toolbar {
    display: flex;
    justify-content: center;
    gap: .25rem;
  }



.textbox {
  width: 100%;
  background-color: white ;
  padding-left: 2%;
}

.search {
  display: flex;
  align-items: center;




}

.icon{
  height: 50px;
  width: auto;
  background-color: #c44c32;
}



.logoCP{
  height: 40px;
  width: auto;
  background: transparent;
}






.Top-Screen {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid #c44c32;
  background-color: #1e1e1e;
  gap: 15vh;

}

.nav-left {

color: white;
text-decoration: none;
margin-right: 0px;
margin-left: 0px;
font-size: 18px;

}

.nav-middle {
display:flex;
color: white;
text-decoration: none;
margin-right: 0px;
margin-left: 40px;
font-size: 18px;
gap: 1%;




}


.nav-right{
  display: flex;
  position: relative;
}

.nav-right span {

font-size: 18px;
color: white;
margin-right: 40px;

}

.reviews-toolbar {

    display: flex;
    justify-content: center;
    gap: .25rem;
  }






  /*
#Puffin{

  display: block;
  background: transparent;
  height: 6rem;
}
*/




/*

.Puffin-1{
  grid-row: 5;
  grid-column: 3;
}

.Puffin-2{
  grid-row: 3;
  grid-column: 2;

}
.Puffin-3{
  grid-row: 2;
  grid-column: 1;
  
}
.Puffin-4{
  grid-row: 2;
  grid-column: 5;
  padding-top: 25px;
}

.Puffin-5{
  grid-row: 1;
  grid-column: 5;
  padding-left: 285px;
  padding-top: 30px;
}*/

/*.oval-forAggregate{
  grid-row: 3 ;
  grid-column: 1;
  width: 400px; 
  height: 230px;
  margin-top: 150px;
}*/

/*nav bar*/

/*
.oval{
  background-color:white;
  border-radius: 50%;
  display: flex; 
  justify-content: center; 
  align-items: center;



}

.oval-selected {
  background-color: #c44c32; 
}

.oval-blue{
  background-color: #add8e6;
}
.oval-navy{
  background-color: #0b4164;
}
.oval-swamp{
  background-color: #6c7d47;
}

.oval-orange{
  background-color: #ff5c00;
}
.oval-green{
  background-color: #43942b;
}
.oval-pinkred{
  background-color: #9d3a3a;
}

.ovalHeading {
  background-color :white;
  margin: 0;
  
}

.ovalHeading-selected{
  background-color:#c44c32 ;
}

.ovalHeading-blue{
background-color: #add8e6;
}

.ovalHeading-navy{
  background-color: #0b4164;
}
.ovalHeading-swamp{
  background-color: #6c7d47;
}

.ovalHeading-orange{
  background-color: #ff5c00;
}
.ovalHeading-green{
  background-color: #43942b;
}
.ovalHeading-pinkred{
  background-color: #9d3a3a;
}

.oval-forButton{
  width: 2.68125rem; 
  height: 1.54688rem;
  
}

.ovalHeading-forButton{
  font-size: .45rem;
}


.oval-forRating{
  width: 3.7125rem; 
  height: 2.475rem;
}
.ovalHeading-forRating{
  font-size: 1.2375rem;
}
*/